/* CSS variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(61, 61, 61, 0.808);
}

html {
  box-sizing: border-box; /*padding doesn't affect width of elements*/
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: #bbb;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  border-radius: 0.2rem;
}

.btn:hover {
  opacity: 0.5;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0 0 1rem 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  border-radius: 2rem;
}

.main-nav .link:hover {
  box-shadow: 0 0 6px 4px var(--dark);
}

.main-nav .highlight {
  background-color: var(--dark);
  color: var(--light);
}

.main-nav .material-icons {
  margin-right: 1rem;
  vertical-align: middle;
}

/* Footer */
footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
}

@media (max-width: 900px) {
  .main-nav ul {
    grid-template-columns: 1fr;
    /* TODO change this? */
  }
}

@media (max-width: 700px) {
  body {
    margin: 30px 30px;
  }

  footer {
    margin-top: 1rem;
  }
}
